/*CUSTOM CSS*/
body{
    overflow-x: hidden;
    background: #f6f6f6;
}


/*NAVBAR*/
.navbar{
    background:#00acc1;/*00695c;*/
    color: #fff;
}
.nav-link{
    font-size: 18.5px;
    font-family:sans-serif;
    text-transform: capitalize;
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.nav-item.active{
    /*padding-bottom: 0px;
    border-bottom: #00acc1 5px solid;*/
}
.carousel-indicators{
    color: #333;    
}
/* Effect 4: bottom border enlarge */
.cl-effect-4 a {
	padding: 0 0 10px;
}

.cl-effect-4 a:hover {
    padding-bottom: 2px;
    border-bottom: #009688 5px solid;
}


/***********************************************************************
                                            ABOUT US SETTINGS
***********************************************************************/
hr{
    height: 4px;
    width: 100px;
    text-align: center;
    position: relative;
    background: #00acc1;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 0;
}

.custom-color1:hover,.custom-color2:hover{
    cursor: pointer;
    opacity: 0.8;
}

.custom-color2{
    background: #00acc1;
}

/***********************************************************************
                                            PARALLAX SETTINGS
***********************************************************************/
.bg-parallax{
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.img-parallax{
    position: absolute;
    z-index: -1;    
}

.bg-img-parallax{
    width: 100%;
    background-image: url('../images/sdb-1881206_1920.jpg');
}


/***********************************************************************************
                                                GALLERY SECTION
***********************************************************************************/

.img-wrapper img:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.img-wrapper{
    overflow: hidden;
}

.img-wrapper img{
    transition: transform .5s ease;
}

/***********************************************************************************
                                                CONTACT SECTION
***********************************************************************************/
h5>.fa{
    color: #00acc1;
}

#contact{
    color: #333;
}

#contact .fa:hover{
    animation: spinAround 2s linear alternate;
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}


.btn-submit{
    background: #00acc1;
    color: #fff;
}
.btn-submit:hover{
    background: #00bcd4;
    color: #fff;
}

.custom-card{
    background-color: #f6f6f6;
    border: none;
}
#contact{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-name: fadeInRight;
    animation-play-state: running;
}
.img-maps{
    border: 1px solid #ccc;
}



/***********************************************************************************
                                                SOCIAL SECTION
***********************************************************************************/
.social ul {
	margin-top: 30px;
}
.social ul li {
	display: inline-block;
	margin: 0 20px;
}
.social i.fa {
	font-size: 24px;
	padding-top: 8px;
	color: #00acc1;
	border-radius: 4px;
	transition: all 0.3s;
}
.social i.fa:hover {
	color: #00695c;
}










#main-footer{
    background-color: #00acc1;
    color: #fff;
}


